body {
    background: lightblue;
}

.containinglink {
    transform: translate(35%, 10%);
    width: 60%;
    display: flex;
    justify-content: space-between;
}

button {
    width: 40%;
    height: 100px;
    font-size: 30px;
}

a:hover {
    color: red;
}

a {
    text-decoration: none;
}